@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iceland";
  src: url("../app/fonts/Iceland-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../app/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../app/fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

html {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #0f172a, #1e293b, #1f1f38);
  background-size: 1000% 1000%;
  animation: gradient-move 10s ease infinite;
  color: #e5e5e5;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
