@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #0f172a, #1e293b, #1f1f38);
  background-size: 300% 300%;
  animation: gradient-move 10s ease infinite;
  overflow: hidden;
  color: #e5e5e5;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
